@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #5c48ee;
    --primary-color-dark: #0f1e6a;
    --text-color: #333;
    --white: #fff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}

/* Navigation Bar */
nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.link .nav__btn {
    padding: 0.5rem 2rem;
    color: var(--white) !important;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.link .nav__btn:hover {
    background-color: var(--primary-color-dark);
}

/* Main Content */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__container h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    color: var(--primary-color-dark);
}

.heading__1,
.heading__2 {
    font-weight: 700;
}

.heading__2 {
    color: var(--primary-color);
}

.content__container form {
    display: flex;
    align-items: center;
}

.content__container input {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    font-size: 0.8rem;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content__container button {
    padding: 1rem;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.image__container {
    position: relative;
}

.image__container img {
    width: 100%;
    border-radius: 10px;
}

/* Popup Styling */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .content__container form {
        justify-content: center;
    }
}